@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* styling for block list */
#blocked-house {
  display: flex;
  flex-wrap: wrap;
}

.blockedt {
  width: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
}

/* styling for friends section of profile */
#friend-house {
  border: 2px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.friend {
  border: 2px solid #f2f2f2;
  display: flex;
  width: 50%;
}

.friend-pfp-div {
  border: 2px solid #f2f2f2;
  width: 30%;
}

.friend-pfp-div img {
    width: 100%;
    height: 100%;
}

.username-div {
  border: 2px solid #f2f2f2;
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* styling for tag section of profile */
.tag-container {
  border: 2px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

.tag-container .tag {
  border: 2px solid #ccc;
  border-radius: 3px;
  display: flex;
  background-color: #f2f2f2;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.tag-container input {
  outline: #ccc;
  flex: 1;
}

.tag span {
  padding-right: 3px;
}

.tag i {
  font-size: 90%;
}

.unread {
    color:blue;
}

.invisible {
    display:none;
}

/* container with all child divs aligned horizontally in the center*/
body {
    background-color: #333333;
    font-family: 'Montserrat', sans-serif !important;
}

/* right chat */
/* title */
h1 {
  font-weight: bold;
  text-align: center;
  color: #D1B280;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header {
    border: 0;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, .15);
    z-index: 1;
}

 /* bootstrap title class */ 
.display-4 {
    font-size: 5rem;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .15rem;
}

/* chat space */
.card {
    border-radius: 50px;
    padding: 0 0 20px 0;
    height: 96vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

.center-h {
    display: flex;
    justify-content: center;
    margin: 10px;
}

#body-row {
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
    /* prevent column wrapping */
    display: flex;
    flex-wrap: nowrap;
}

#sidebar-container {
    min-height: 100vh;
    background-color: white;
    padding: 0;
}

/* sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 350px;
}

.sidebar-collapsed {
    width: 60px;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* profile pictures*/
#image-cropper {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

#user-pfp {
    margin: 0 auto;
    height: 100%;
    width: auto;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

.list-group-item:last-child {
    border-radius: 0 !important; 

}

/* infinte scroll */
.scroll {
    overflow: scroll;
    height:100vh;
}

/* chat preview */
.message pre, .message p{
    font-family: 'Montserrat', sans-serif;
}


/* separators */
.sidebar-separator-title {
    background-color: white;
    height: auto;
    margin-bottom: -15px;
}

.info-section {
    /*border: 0;*/
    text-align: center;
    vertical-align: middle;
    /*line-height: 90px;*/
}

.sidebar-separator {
    background-color: white;
    border-top: 1px solid rgba(0,0,0,.125);
    height: 75px;
    border: 0;
}

#account-submenu {
    background: #6c757d9e !important;
}

button {
    background: var(--red) !important;
    border: none;
    border-radius: 10px;
    width: 50%;
    margin-top: 10px;
}

#email, 
#pass {
    border: none;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
    content: " \f0da";
    font-family: FontAwesome;
    display: inline;
    text-align: right;
    padding-left: 10px;
}

a:hover {
    background: #D1B280 !important;
}

/* left bottom anchor*/

.sidebar {
    position: relative;
    overflow-x: hidden;
}

.bottom {
    width: inherit;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

/* using important tags to override bootstrap presets*/

.bg-gold {
    background: #D1B280 !important;
}

.bg-grey {
    background: #f7f7f7 !important;
    color: black !important;
}

.p-4{
    max-height:100vh;
}

/* main chat*/
.col-1 {
    justify-content: center;
    align-content: center;
    text-align: center;
}

#main-chat .message {
    border-bottom: 2px #D1B280 dotted;
}

/* profile pictures for messages*/
#image-cropper-pfp {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 12px auto 0px auto;
}

img {
    height: 100%
}

#main-chat {
    height: 100%;
}

#chat-name {
    margin-bottom: 0px;
}

#message-list {
    max-height: calc(100% - 180px);
    overflow: scroll;
    display: flex;
    flex-direction: column-reverse;
}

.text-muted {
    font-size: .8rem;
}

.card-body li {
    border: 0;
}

/* input area  */
.card-footer {
    background-color: transparent;
    border-radius: 100px !important;
    border-top: 0;    
}

#input-section {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.input-group {
    padding: 0 10px 0 10px;
}

#message-input {
    background-color: #e9ecef;
    border: 0;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    height: 50px;
    margin: 0 15px 0 15px;
    overflow: hidden;
}

.btn {
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 50% !important;
    height: 50px;
    width: 50px;
}

.topbtn {
    position: fixed;
    top: 40px;
    left: 12.5%;
    z-index: 3;
    border: 0;
    height: 60px;
    width: 60px;
    border-radius: 50% !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.17), 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

/* tablets or smaller */
@media only screen and (max-width: 800px) {
    #big-title {
        font-size: 4rem;
    }

    /* message template */
    #main-chat .message {
        border: 0px;
    }

    #username {
        font-size: .9rem;
    }

    .text-muted {
        font-size: .7rem;
    }

    p {
        margin-top: 0;
        margin-bottom: .7rem;
        font-size: .8rem;
    }

    #message-input {
        font-size: .8rem;
    }

    #message-list {
        padding: 5px;
    }
}

/* phones */
@media only screen and (max-width: 576px) {
    #big-title {
        font-size: 3rem;
    }    

    #message-list {
        max-height: calc(100% - 150px);
    }

    #img-col {
        padding-left: 0;
    }

    a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #D1B280! important;
    }
    
    #main-chat {
        height: 95vh;
    }
}