
html {
  font-family: 'Montserrat', sans-serif;
}

div {
    border: 1px solid black;
}

.screen {
  background: grey;
  height: 100vh;
  margin-left: 5%;
  margin-right:5%;
  width: auto;
}

#messages {
    width:75%;
}

/* main: welcome page */
/* view: mobile */

/* large titles */
h1 {
  font-weight: bold;
  font-size: 8vw;
  text-align: center;
  color: #333333;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05em;
}

/* left-aligned bold captions */
h3 {
    size: 4vw;
    color: #333333;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-content: flex-start;
}

/* golden captions */
h4 {
  font-size: 2vw;
  text-align: center;

  color: #D1B280;
}

#info-graphic-container {
  width: 35%;  
}

img {
  width: 100%;
  height: auto;
}


.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .center-text {
  text-align: center;
}

.center-container {
  text-align:center;
} */

/* .center-info{
  width: 100%;
}  */

#start-button {
  width: 275px;
  height: 55px;

  background: #4F4F4F;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  align-items: center;
  border-width: 0;
}

.white-button-font {
  font-size: 28px;
  line-height: 34px;

  color: #FFFFFF;
}